<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>customer.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>menuServlet</servlet-name>
    <servlet-class>controller.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AddMenuServlet</servlet-name>
    <servlet-class>controller.AddMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMenuServlet</servlet-name>
    <url-pattern>/AddMenuServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>GetIdFoodServlet</servlet-name>
    <servlet-class>controller.GetIdFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIdFoodServlet</servlet-name>
    <url-pattern>/GetIdFoodServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>GetIdNHServlet</servlet-name>
    <servlet-class>controller.GetIdNHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIdNHServlet</servlet-name>
    <url-pattern>/GetIdNHServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>EditFoodServlet</servlet-name>
    <servlet-class>controller.EditFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFoodServlet</servlet-name>
    <url-pattern>/EditFoodServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>IdDeleteFoodServlet</servlet-name>
    <servlet-class>controller.IdDeleteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdDeleteFoodServlet</servlet-name>
    <url-pattern>/IdDeleteFoodServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <servlet-class>controller.UpdateInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <url-pattern>/UpdateInfoServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>TrangChuServLet</servlet-name>
    <servlet-class>controller.TrangChuServLet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangChuServLet</servlet-name>
    <url-pattern>/TrangChuServLet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TrangChuKHServlet</servlet-name>
    <servlet-class>controller.TrangChuKHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangChuKHServlet</servlet-name>
    <url-pattern>/TrangChuKHServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Index2Servlet</servlet-name>
    <servlet-class>controller.Index2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index2Servlet</servlet-name>
    <url-pattern>/Index2Servlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DatBanServlet</servlet-name>
    <servlet-class>controller.DatBanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatBanServlet</servlet-name>
    <url-pattern>/DatBanServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DSDatBanServlet</servlet-name>
    <servlet-class>controller.DSDatBanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DSDatBanServlet</servlet-name>
    <url-pattern>/DSDatBanServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminDSMember</servlet-name>
    <servlet-class>controller.AdminDSMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDSMember</servlet-name>
   <url-pattern>/AdminDSMember</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AdminDSKhachHang</servlet-name>
    <servlet-class>controller.AdminDSKhachHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDSKhachHang</servlet-name>
   <url-pattern>/AdminDSKhachHang</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminDSNhaHang</servlet-name>
    <servlet-class>controller.AdminDSNhaHang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDSNhaHang</servlet-name>
   <url-pattern>/AdminDSNhaHang</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminGetIdKH</servlet-name>
    <servlet-class>controller.AdminGetIdKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetIdKH</servlet-name>
   <url-pattern>/AdminGetIdKH</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminGetIdNH</servlet-name>
    <servlet-class>controller.AdminGetIdNH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminGetIdNH</servlet-name>
   <url-pattern>/AdminGetIdNH</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminSuaKH</servlet-name>
    <servlet-class>controller.AdminSuaKH</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSuaKH</servlet-name>
   <url-pattern>/AdminSuaKH</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminSuaNHServlet</servlet-name>
    <servlet-class>controller.AdminSuaNHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSuaNHServlet</servlet-name>
   <url-pattern>/AdminSuaNHServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdDSdatbanServlet</servlet-name>
    <servlet-class>controller.AdDSdatbanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdDSdatbanServlet</servlet-name>
   <url-pattern>/AdDSdatbanServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>IdNHServlet</servlet-name>
    <servlet-class>controller.IdNHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdNHServlet</servlet-name>
   <url-pattern>/IdNHServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ThongTinNHServlet</servlet-name>
    <servlet-class>controller.ThongTinNHServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThongTinNHServlet</servlet-name>
   <url-pattern>/ThongTinNHServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdXoaDBServlet</servlet-name>
    <servlet-class>controller.AdXoaDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdXoaDBServlet</servlet-name>
   <url-pattern>/AdXoaDBServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>DangBaiServlet</servlet-name>
    <servlet-class>controller.DangBaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangBaiServlet</servlet-name>
   <url-pattern>/DangBaiServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>HinhAnhServlet</servlet-name>
    <servlet-class>controller.HinhAnhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HinhAnhServlet</servlet-name>
   <url-pattern>/HinhAnhServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdBaiDangServlet</servlet-name>
    <servlet-class>controller.AdBaiDangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdBaiDangServlet</servlet-name>
   <url-pattern>/AdBaiDangServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdXoaBaiServlet</servlet-name>
    <servlet-class>controller.AdXoaBaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdXoaBaiServlet</servlet-name>
   <url-pattern>/AdXoaBaiServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TrangChuAdmin</servlet-name>
    <servlet-class>controller.TrangChuAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrangChuAdmin</servlet-name>
   <url-pattern>/TrangChuAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdGetIdMB</servlet-name>
    <servlet-class>controller.AdGetIdMB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdGetIdMB</servlet-name>
   <url-pattern>/AdGetIdMB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdSuaMember</servlet-name>
    <servlet-class>controller.AdSuaMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdSuaMember</servlet-name>
   <url-pattern>/AdSuaMember</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DatBanIDServlet</servlet-name>
    <servlet-class>controller.DatBanIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatBanIDServlet</servlet-name>
   <url-pattern>/DatBanIDServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SerchDatBanServlet</servlet-name>
    <servlet-class>controller.SerchDatBanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerchDatBanServlet</servlet-name>
   <url-pattern>/SerchDatBanServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>IDDeleteDatBan</servlet-name>
    <servlet-class>controller.IDDeleteDatBan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IDDeleteDatBan</servlet-name>
   <url-pattern>/IDDeleteDatBan</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>XoaBaiDang</servlet-name>
    <servlet-class>controller.XoaBaiDang</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XoaBaiDang</servlet-name>
   <url-pattern>/XoaBaiDang</url-pattern>
  </servlet-mapping>
  
</web-app>
</element>